<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="../lib/vue.js"></script>
</head>

<body>
  <div id="app">
    {{mytext}}
    <textarea v-model="mytext"></textarea>

    <div>
      <div>用户名: <input v-model="mytext" /></div>
      <input type="checkbox" v-model="isRemember" /> 记住用户名
      <button @click="handleLogin">登录</button>
    </div>

    <div>
      <h2>注册页面-兴趣爱好</h2>
      <input type="checkbox" v-model="checklist" value="Vue"> Vue
      <input type="checkbox" v-model="checklist" value="Golang"> Golang
      <input type="checkbox" v-model="checklist" value="K8S"> K8S
    </div>
    {{checklist}}

    <div>
      <h2>性别选择</h2>
      <input type="radio" v-model="select" value="a">男
      <input type="radio" v-model="select" value="b">女
    </div>
  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        mytext: localStorage.getItem("username"),
        isRemember: false,
        checklist: [],
        select: "a"
      },
      methods: {
        handleLogin() {
          if (this.isRemember) {
            localStorage.setItem("username", this.mytext)
          }
        }
      }
    })
  </script>
</body>

</html>