body{
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* font: normal 16px Arial,Helvetica,sans-serif;  简写*/
    line-height: 1.5em;
}
.box1 {
    background-color: antiquewhite;
    color:rgb(47, 85, 199);
    border: 5px blue solid;
    border-right: 3px red dotted;

    padding-top: 10px ;

    margin-top: 20px;
}
.box1 h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1em;
    word-spacing: 2em;
}
.container{
    width: 80%;
    margin: auto;
}


.box2{
    border: 5px dotted #cccccc;
    border-radius: 35px;
    padding: 20px;
    margin: 20px 0;
}

.list li{
    list-style: square;
    /* list-style-image: url('/Users/lulu/Downloads/Gengar.jpg'); */

}
.block{
    float: left;
    width: 33.3%;
    border: 1px solid #cccccc;
    box-sizing: border-box;

}